{% extends 'base.html' %}
{% block nav %}
    <li class="nav-item">
          <a class="nav-link active" href="{% url 'poll_create' %}">Create Poll</a>
    </li>
{% endblock %}

{% block content %}
    <h1 style="text-align: center">Poll<i class="bi bi-bookmark-check"></i></h1>
    <div class="row">
        {% for poll in polls %}
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" style="font-weight: bold">
                    <h2><a href="{% url 'poll' poll.pk %}" style="text-decoration: none">{{ poll.question }}</a></h2>
                    <a href="{% url 'poll_update' poll.pk %}"class= "btn btn-primary "><i class="bi bi-pencil mx-2" style="font-size:25px"></i></a>
                    <a href="{% url 'poll_delete' poll.pk %}"class= "btn btn-primary "><i class="bi bi-trash mx-2" style="font-size:25px"></i></a>
                    <a href="{% url 'answer_add' poll.pk %}"class= "btn btn-primary "><i class="bi bi-chat mx-2" style="font-size:25px"></i></a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}