{% extends 'base.html' %}
{% block nav %}
    <li class="nav-item">
              <a class="nav-link active" href="{% url 'choice_create' poll.pk %}">Create Choice</a>
    </li>
{% endblock %}
{% block content %}
    <div style="font-weight: bold " class="border border-4 border-dark p-4">
        <div class="d-flex">
        <h1>Question: {{ poll.question }}</h1>
            <div class="ms-auto">
                <a href="{% url 'poll_update' poll.pk %}"class= "btn btn-primary "><i class="bi bi-pencil mx-2" style="font-size:25px"></i></a>
                <a href="{% url 'poll_delete' poll.pk %}"class= "btn btn-primary "><i class="bi bi-trash mx-2" style="font-size:25px"></i></a>
            </div>
        </div>
        <p>Created-At: {{ poll.created_at }}</p>
        <h2 style="text-align: center">Variants</h2>
        <div class="row">
            {% for choice in poll.polls.all %}
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body d-flex" style="font-weight: bold">
                    <h2>{{ choice.variant }}</h2>
                       <div class="ms-auto">
                             <a href="{% url 'choice_update' choice.pk %}"class= "btn btn-primary "><i class="bi bi-pencil mx-2" style="font-size:25px"></i></a>
                             <a href="{% url 'choice_delete' choice.pk %}"class= "btn btn-primary "><i class="bi bi-trash mx-2" style="font-size:25px"></i></a>
                       </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}